* {
  margin: 0px;
}

.gold {
  color: rgb(250, 181, 6);
  background-color: black;
  padding: 15px;
  font-size: 50px;
}

.whiteBlack {
  color: white;
  background-color: black;
  padding: 15px;
  font-size: 50px;
}

.blackWhite {
  color: black;
  background-color: white;
  padding: 15px;
  font-size: 50px;
}

.redWhite {
  color: white;
  background-color: red;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.large {
  font-size: 40px;
}

label {
  font-size: 25px;
  
}

.App {
  text-align: center;
}

.EvalPage {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.btn {
  color: rgb(230, 167, 8);
  background-color: black;
  padding: 15px;
  font-size: 50px;
}

.TextareaAuto {
  border: 2px solid black;
  width: 350px;
  padding: 20px 10px;
  font-size: 25px;
}

input[type=radio] {
  width: 4em;
  height: 2em;
  margin:  10px;
}

.formClass {
  display: "flex";
  flex-direction: "column"; 
  align-items: "center";
  align-content: "space-between";
  justify-content: "space-between";
  padding: "15px";
  border: "2px solid black";
  height: "auto";
  width: "auto"
}

.formQ {
  display: flex;
  
  flex-direction: column;
  
}

.callNow {
  color: white;
  background-color: red;
  font-size: 30px;
  padding: 30px;
  margin: 40px;
  width: auto;
  
}

.callNowDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* Mobile Landscape Styling */
@media screen and (min-width: 640px) {

}

/* Tablet Portrait Styling */
@media screen and (min-width: 768px) {

}

/* Tablet Landscape Styling */
@media screen and (min-width: 1024px) {

}

/* LapTop styling */
@media screen and (min-width: 1280px) {

}